@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}
:root{
 --green:#02897A;
 --black:#22343D;
 --white:#fff;
 --light-blue:#4D8DFF;
 --violer:#740A76;
 --pink:#F03E3D;
 --orange:#FF9900;
}
.container{
    max-width:1110px ;
    margin: auto;
    padding: 0 15px;
}




/*=================================== responsive planshet ========================================*/
@media screen and (max-width:768px) {
    
}



/*================================== responsive telefon========================================== */
@media screen and (max-width) {
    
}