@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika:wght@300..700&display=swap");
:root{
 --green:#02897A;
 --black:#22343D;
 --white:#fff;
 --light-blue:#4D8DFF;
 --violet:#740A76;
 --pink:#F03E3D;
 --orange:#FF9900;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width:1110px ;
    margin: auto;
    padding: 0 15px;

}

/* ======================================================jasur ========================================================================*/
.jasur img {
  max-width: 100%;
  
}
.nav_left {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav_left h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 93%;
  color: #173a56;
}
.links {
  display: flex;
  align-items: center;
  gap: 35px;
}
.links li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #22343d;
}
.links li a:hover {
  font-weight: 600;
}
.nav_right .sign {
  width: 102px;
  height: 43px;
}
.nav_right .sign1 {
  font-weight: 600;
  font-size: 16px;
  color: #173a56;
  background-color: transparent;
  border: 1px solid #bcd0e5;
  border-radius: 5px;
}
.nav_right .sign2 {
  background-color: #02897a;
  border: 1px solid #bcd0e5;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.btnimg {
  border-radius: 100px;
  width: 32px;
  height: 32px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.jasur header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}
header {
  margin-top: 27px;
}
.nav_right .sign1:hover {
  background-color: #02897a;
  color: #fff;
  transition: 0.4s;
}
.nav_right .sign2:hover {
  background-color: transparent;
  color: var(--green);
  transition: 0.4s;
}
button {
  cursor: pointer;
}
.nav_left {
  cursor: pointer;
}
header {
  margin-bottom: 25px;
}
.showcase_left h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #22343d;
}
.showcase_left .tool {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #22343d;
  margin-top: 18px;
}
.showcase_left_item button {
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
}
.showcase_left_item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 45px;
}
.showcase_left_item_child p {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  color: #02897a;
}
.showcase_left_item_child {
  display: flex;
  align-items: center;
  gap: 9px;
}
.showcase > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase_left_item button:hover {
  background-color: transparent;
  color: var(--green);
  border: 1px solid #bcd0e5;
  transition: 0.4s;
}
.showcase_left_item_child p:hover {
  cursor: pointer;
}
.showcase {
  margin-bottom: 114px;
}
.product h1 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 66px;
}
.product_card {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 13px;
}
.product_card h1 {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
}
.product_card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #22343d;
}
.product_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_btn button {
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
}
.product_btn button:hover {
  background-color: transparent;
  color: var(--green);
  border: 1px solid #bcd0e5;
  transition: 0.4s;
}
.product_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 49px;
  padding-bottom: 90px;
}
.product {
  margin-bottom: 104px;
}
.bars {
  display: none;
}
.bars {
  font-size: 30px;
}
.product {
  background-image: url(../img/png/Bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* =============================================umar============================== */
.umar {
  margin-bottom: 150px;
}
.umar .flex {
  display: flex;
  justify-content: space-between;
  gap: 85px;
}
.umar .photo {
  max-width: 540px;
  max-height: 474px;
  img {
    width: 100%;
    height: 100%;
  }
}
.umar .left h3 {
  color: var(--black);
  font-weight: 600;
  font-size: 16px;
}

.umar .left h2 {
  color: var(--black);
  font-weight: 700;
  font-size: 32px;
}
.umar .left p {
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  max-width: 486px;
  margin-top: 23px;
}
.umar .left h4 {
  color: var(--black);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  margin-top: 12px;
}

.umar .left h5 {
  color: var(--black);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-top: 12px;
}

.umar .box {
  display: flex;
  height: 52px;
  align-items: center;
  column-gap: 20px;
  p {
    margin: 0 !important;
  }
}

.umar .bt-1 {
  background: #f90;
  color: white;
}

.umar .bt-2 {
  background: #f03e3d;
  color: white;
}

.umar .bt-3 {
  background: #4d8dff;
  color: white;
}

.umar .icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.umar .icons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.left {
  margin-top: 50px;
}

.umar .wrapper {
  display: flex;
  flex-direction: column;
  gap: 150px;
}



/*=================================================== jamshid========================================================================= */
.jamshid{
    background-image: url(../img/png/Bg.png);
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
}
/* ========================================= EXPERT START ========================================= */

.expert{
    background-image: url(../img/png/Bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}
.expert-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 963px;
    min-height: 469px;
    margin: auto;
}
.expert-title h2{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-top: 52px;
    color: var(--black);
}
.expert-title p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    max-width: 542px;
    height: auto;
    margin-top: 16px;
    color: var(--black);
}
.expert-middle{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 32px;
    gap: 30px;
}
.expert-left-top{
    display: flex;
    align-items: center;
}
.expert-left-top img{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: 3px solid red;
}
.expert-left-top p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    max-width: 274px;
    min-height: 53px;
    border-radius: 26.5px;
    background-color: var(--white);
    padding: 15px 24px 20px 25px;
    margin-left: 16px;
    color: #2F281E;
}
.expert-left-bottom{
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.expert-left-bottom img{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: 3px solid var(--green);
}
.expert-left-bottom p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    max-width: 263px;
    min-height: 53px;
    border-radius: 26.5px;
    background-color: var(--white);
    padding: 15px 30px 20px 33px;
    margin-right: 16px;
    color: #2F281E;
}
.expert-right-top{
    display: flex;
    align-items: center;
    }
.expert-right-top img{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: 3px solid var(--violet);
}
.expert-right-top p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    max-width: 240px;
    min-height: 53px;
    border-radius: 26.5px;
    background-color: var(--white);
    padding: 15px 18px 20px 22px;
    margin-right: 16px;
    color: #2F281E;
}
.expert-right-bottom{
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.expert-right-bottom img{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: 3px solid var(--light-blue);
}
.expert-right-bottom p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    max-width: 281px;
    min-height: 53px;
    border-radius: 26.5px;
    background-color: var(--white);
    padding: 14px 19px 21px 23px;
    margin-left: 16px;
    color: #2F281E;
}
.expert-button button{
    width: 216px;
    height: 53px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 48px auto 150px;
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
    border-radius: 4px;
}
.expert-button button:hover{
    background-color: var(--white);
    color:var(--green);
    transition: 0.5s;
    cursor: pointer;
}

/* ========================================= STRATEGIE START ========================================= */

.strategie-title h2{
    font-family: Poppins;
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    color: var(--black);
}
.strategie-title p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 8px;
}
.strategie-cart{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
    margin-top: 33px;
}
.strategie-cart .carts{
    max-width: 348px;
    min-height: 359px;
    border-radius: 8px;
    border: 2px solid #e7e7e7;
}
.strategie-cart .carts img{
    width: 100%;
    height: 189px;
}
.strategie-cart .carts-title{
    padding: 24px;
}
.strategie-cart .carts-title p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--black);
}
.strategie-cart .carts-title span{
    font-weight: bold;
}
.strategie-cart .carts-title h3{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: var(--black);
    margin-top: 12px;
}
.strategie-cart .carts:hover .carts-title h3{
    color: var(--green);
}
.strategie-dotted{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 64px;
    margin-bottom: 150px;
}
.strategie-dotted button{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #EFEFEF;
    border: none;
    text-align: center;
}
.strategie-dotted button:nth-of-type(2){
    background-color: var(--green);
}
.strategie-dotted button:hover{
    background-color: var(--green);
    transition: 0.5s;
    cursor: pointer;
}


/*========================================================== muhammadali========================================================  */
.muhammadali .title{
    text-align: center;
    margin-bottom: 50px;
}
.muhammadali .title h2{
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: var(--black);
}
.muhammadali .title p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}
.muhammadali .prace-table .cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 150px;
  gap: 30px;
}
.muhammadali .prace-table .cards .card{
    text-align: center;
    color: var(--black);
    gap: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height:456px ;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 #00000040;
    padding-top: 24px;
    padding-bottom: 32px;
}

.muhammadali .prace-table .card .p{
    font-weight: 400;
    font-size: 16px;
    line-height:40px ;
}
.muhammadali .prace-table .card p{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
}
.muhammadali .prace-table .card h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
}
.muhammadali .prace-table .card .price-info{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 8px;
}
.muhammadali .price-info .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.muhammadali .price-info .info span{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: var(--green);
}
.muhammadali .price-info .info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #afafaf;
}
.muhammadali .price-info h2{
    font-size: 76px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.2px;
    color: var(--green);
}
.muhammadali .prace-table .cards .card:hover{
    background-color: var(--green);
    button{
        background-color: var(--white);
        color: var(--green);
    }
    button:hover{
        background-color: var(--green);
        color: var(--white);
    }
    h2 , p ,span ,h3{
        color: var(--white) !important;
    }
}
.muhammadali .prace-table .card button{
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    border: 1px solid var(--white);
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background-color: var(--green);
    color: var(--white);
    margin: auto;
}
.muhammadali .clients .title h2{
    font-size: 34px;
    font-weight: 700;
    line-height: 57px;
    margin-bottom: 10px;
    letter-spacing: 0.2px;
    color: var(--black);
}

.muhammadali .clients .title p{
    max-width: 537px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin: auto;
    color: var(--black);
}
.muhammadali .clients .cards{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin-bottom: 157px;
}
.muhammadali .clients .cards .card{
    width: 325px;
    min-height: 236px;
    border: 1px solid #dedede;
    padding: 28px;
}
.muhammadali .clients .card i{
    color: #f3cd03;
}
.muhammadali .clients .card p{
    margin: 16px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}
.muhammadali .clients .avatar h4{
     color: var(--green);
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.2px;
}
.muhammadali .clients .avatar h5{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--black);
}
.muhammadali .clients .avatar{
    display: flex;
    column-gap: 14px;
}
.muhammadali .clients .avatar .photo{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    img{
        width: 100%;
        height: 100%;
    }
}
.muhammadali .prezintation{
    display: flex;
    max-width: 968px;
    background-color: var(--green);
    min-height: 345px;
    padding: 25px 51px;
    border-radius: 32px;
    margin: auto;
    margin-bottom: 150px;
    padding-bottom: 45px;
}
.muhammadali .prezintation .box-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.muhammadali .prezintation .box-left h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 48.45px;
    color: var(--white);
}
.muhammadali .prezintation .box-left button{
    width: 150px;
    height: 50px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--green);
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 8px;
    margin-top: 20px;
}
.muhammadali .prezintation .box-left button:hover{
    background-color: var(--green);
    color: var(--white);
}
.box-right{
    width: 80%;
    margin: auto;
}
.muhammadali .prezintation .box-right .photo {
    max-width: 351px;
    height:331px;
    img{
        width: 100%;
        height: 100%;
    }
}



.diyorbek .cards{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.diyorbek .card .logo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
   
}
.diyorbek .cards .card{
    display: flex;
    flex-direction: column;
    h3{
        font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      margin-top: 10px;
    }
    p{
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px;
    }
}
.diyorbek .card input{
    max-width: 325px;
    height: 48px;
    border: none;
    outline: none;
}
.diyorbek .input{
    max-width: 325px;
    height: 50px;
    border: 1px solid var(--black);
    padding-left: 20px;
    margin-top: 10px;
    margin-top: 34px;
    margin-bottom: 29px;
    border-radius: 8px;
}
.diyorbek button{
    width: 131px;
    height: 39px;
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
    border-radius: 8px;
    margin-top: 10px;
    font-size:  16px;
    font-weight: 700;
    line-height: 24px;
}
.diyorbek button:hover{
    background-color: var(--white);
    color: var(--green);
}
.diyorbek .cards_bottom{
    margin: 45px 0 15px 0;
    h3{
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }
}
.diyorbek .iconka{
    column-gap: 10px;
    margin: 24px 0;
    display: flex;
}









/*=================================== responsive planshet ========================================*/

@media screen and (max-width: 1027px) {
  .umar .flex {
    gap: 0;
  }
  .umar .flex h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }
  .umar .df-1 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .umar .df-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .umar .df-3 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width:768px) {

  .muhammadali .cards{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .muhammadali .prezintation {
        flex-direction: column-reverse;
        align-items: center;
    }
    .muhammadali .prezintation .box-left{
        align-items: center;
        text-align: center;
    }
    .muhammadali .prezintation .box-right{
       height: 100%;
       width: 100%;
        .photo{
          height: 100%;
          width: 100%;
          margin: auto;
        }
    }
  
    .diyorbek .cards{
        
        flex-direction: column;
        align-items: center;
        
    }
    .diyorbek .card{
        margin: auto;
        align-items: center;
        text-align: center;
    }
    .diyorbek .input{
        width: 100%;
        input{
            width: 95%;
        }
    }

    .expert-middle{
        flex-wrap: wrap;
        justify-content: center;
    }
    .expert-left-bottom{
        flex-direction: row-reverse;
    }
    .expert-right-top{
        flex-direction: row-reverse;
    }
    .expert-left-bottom p{
        margin-left: 16px;
    }
    .expert-right-top p{
        margin-left: 40px;
    }
    .strategie-title{
        text-align: center;
    }
    .strategie-cart{
        grid-template-columns: auto;
        justify-content: center;
    }

}

@media (max-width: 1069px) {
  .showcase_left .tool {
    font-size: 15px;
  }
}
@media (max-width: 1002px) {
  .showcase_left h1 {
    font-size: 35px;
  }
}
@media (max-width: 960px) {
  .links {
    display: none;
  }
  .showcase > div {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .showcase_left {
    text-align: center;
  }
  .product_cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
 .product_card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .nav_right {
    display: none;
  }
  .bars {
    display: block;
  }
}

/*================================== responsive telefon========================================== */
@media screen and (max-width: 468px) {
  
  .showcase_left_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .product_card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
